@use "tailwindcss";
@use "helpers" as *;

@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

// ================================
// 🎨 Theme tokens
// ================================
@theme {
  // 🎨 Colors
  --color-primary: #566362;
  --color-primary-dark: #033d3d;
  --color-secondary: #ae8858;
  --color-secondary-dark: #947649;
  --color-neutral-100: #f2f5f5;
  --color-neutral-200: #f8fbfa;
  --color-neutral-300: #dadfe1;

  // 🔤 Typography (font sizes)
  --text-xs: 0.875rem; // 14px
  --text-sm: 1rem; // 16px
  --text-base: 1.125rem; // 18px
  --text-md: 1.25rem; // 20px
  --text-lg: 1.5rem; // 24px
  --text-xl: 1.75rem; // 28px
  --text-2xl: 2rem; // 32px
  --text-3xl: 2.625rem; // 42px
  --text-4xl: 4.375rem; // 70px
  --text-5xl: 5rem; // 80px
  --text-6xl: 8.125rem; // 130px

  // 📱 Breakpoints
  --breakpoint-xs: 30rem; // 480px
  --breakpoint-sm: 48rem; // 768px
  --breakpoint-md: 62rem; // 992px
  --breakpoint-lg: 75rem; // 1200px
  --breakpoint-xl: 87.5rem; // 1400px
  --breakpoint-2xl: 100rem; // 1600px

  // 🖋 Fonts
  --font-accent: "ivy-presto", serif;
  --font-base: "Geist", sans-serif;
}

// ================================
// 🧩 Utilities
// ================================
@utility container {
  @apply mx-auto w-full max-w-[97rem] px-4;
}
@utility text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@utility left-bottom-clip-path {
  clip-path: polygon(
    6.25% 0.103%,
    93.75% 0.103%,
    93.75% 0.103%,
    94.747% 0.183%,
    95.693% 0.414%,
    96.574% 0.784%,
    97.38% 1.279%,
    98.096% 1.889%,
    98.71% 2.599%,
    99.21% 3.397%,
    99.583% 4.272%,
    99.815% 5.21%,
    99.896% 6.198%,
    99.896% 93.802%,
    99.896% 93.802%,
    99.815% 94.79%,
    99.583% 95.728%,
    99.21% 96.603%,
    98.71% 97.401%,
    98.096% 98.111%,
    97.38% 98.721%,
    96.574% 99.216%,
    95.693% 99.586%,
    94.747% 99.817%,
    93.75% 99.897%,
    36.458% 99.897%,
    36.458% 99.897%,
    35.461% 99.817%,
    34.516% 99.586%,
    33.634% 99.216%,
    32.829% 98.721%,
    32.113% 98.111%,
    31.498% 97.401%,
    30.999% 96.603%,
    30.626% 95.728%,
    30.393% 94.79%,
    30.313% 93.802%,
    30.313% 90.702%,
    30.313% 90.702%,
    30.229% 89.68%,
    29.989% 88.711%,
    29.603% 87.806%,
    29.087% 86.981%,
    28.451% 86.247%,
    27.711% 85.617%,
    26.878% 85.104%,
    25.967% 84.722%,
    24.989% 84.483%,
    23.958% 84.401%,
    6.25% 84.401%,
    6.25% 84.401%,
    5.253% 84.321%,
    4.307% 84.09%,
    3.426% 83.72%,
    2.62% 83.225%,
    1.904% 82.616%,
    1.29% 81.905%,
    0.79% 81.107%,
    0.417% 80.232%,
    0.185% 79.294%,
    0.104% 78.306%,
    0.104% 6.198%,
    0.104% 6.198%,
    0.185% 5.21%,
    0.417% 4.272%,
    0.79% 3.397%,
    1.29% 2.599%,
    1.904% 1.889%,
    2.62% 1.279%,
    3.426% 0.784%,
    4.307% 0.414%,
    5.253% 0.183%,
    6.25% 0.103%
  );
}

// ================================
// 🧬 Base layer styles
// ================================
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-accent);
    color: var(--color-primary-dark);
  }

  p,
  li {
    font-weight: 300;
    color: var(--color-primary);
    font-size: var(--text-sm);
    line-height: 1.35;

    @media (min-width: 30rem) {
      font-size: var(--text-base);
    }

    @media (min-width: 48rem) {
      font-size: var(--text-md);
    }

    @media (min-width: 62rem) {
      font-size: var(--text-lg);
    }
  }
  li {
    line-height: 0;
  }
}

// ================================
// 🧱 Components / Custom Classes
// ================================

.button-line {
  position: relative;
  transition: letter-spacing 0.5s ease;

  @include hover {
    letter-spacing: 2.5px;
  }

  &::after {
    content: "";
    position: absolute;
    width: rem(56);
    height: rem(1);
    top: 50%;
    left: 100%;
    transform: translate(-40%, -50%);
    background-color: var(--color-secondary);
    @include hover {
      letter-spacing: 2px;
    }
  }
}

.base-swiper-pagination,
.gradient-swiper-pagination,
.testimonials-swiper-pagination {
  .swiper-pagination-bullet {
    background-color: transparent;
    border: 2px solid var(--color-neutral-300);
    opacity: 1;
    width: rem(10);
    height: rem(10);
  }
  .swiper-pagination-bullet-active {
    background-color: var(--color-neutral-300);
    border: 1px solid var(--color-neutral-300);
  }
}

.two-side-gradient {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%);
    @media (max-width: 75rem) {
      display: none;
    }
  }
}

@media (max-width: 75rem) {
  br {
    display: none !important;
  }
}

a:not([class]) {
  transition: color 0.3s ease;
  &:hover {
    color: var(--color-secondary);
  }
}
