<footer class="px-5">
  <div class="mx-auto mb-10 max-w-[116rem] rounded-3xl border border-neutral-300 px-4 py-10 lg:mb-20">
    <div class="mx-auto max-w-[90rem]">
      <h2 class="font-accent text-md mb-4 leading-tight sm:mb-6 sm:text-lg md:text-2xl">
        For our latest healthcare <br />
        solutions subscribe below
      </h2>
      <div>
        <script type="text/javascript" src="https://form.jotform.com/jsform/251754186523157"></script>
      </div>
      <div class="mt-10 flex justify-between gap-x-7">
        <div class="flex gap-x-15">
          <div class="border-l border-neutral-300 pl-3">
            <h3 class="text-md mb-2 md:text-lg">Menu</h3>
            <nav>
              <ul class="flex flex-col gap-y-2">
                <li>
                  <a href="#" class="hover:text-secondary text-sm leading-tight transition-colors md:text-base">Home</a>
                </li>
                <li>
                  <a href="#" class="hover:text-secondary text-sm leading-tight transition-colors md:text-base">About us</a>
                </li>
                <li>
                  <a href="#" class="hover:text-secondary text-sm leading-tight transition-colors md:text-base">Services</a>
                </li>
                <li>
                  <a href="#" class="hover:text-secondary text-sm leading-tight transition-colors md:text-base">Blog</a>
                </li>
                <li>
                  <a href="#" class="hover:text-secondary text-sm leading-tight transition-colors md:text-base">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="border-l border-neutral-300 pl-3">
            <h3 class="text-md mb-2 md:text-lg">Social</h3>
            <div>
              <ul class="flex flex-col gap-y-2">
                <li>
                  <a href="#" class="hover:text-secondary text-sm leading-tight transition-colors md:text-base">Facebook</a>
                </li>
                <li>
                  <a href="#" class="hover:text-secondary text-sm leading-tight transition-colors md:text-base">Twitter</a>
                </li>
                <li>
                  <a href="#" class="hover:text-secondary text-sm leading-tight transition-colors md:text-base">LinkedIn</a>
                </li>
                <li>
                  <a href="#" class="hover:text-secondary text-sm leading-tight transition-colors md:text-base">Instagram</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="border-l border-neutral-300 pl-3">
            <h3 class="text-md mb-2 md:text-lg">Contacts</h3>
            <div>
              <ul class="flex flex-col gap-y-2">
                <li>
                  <a href="#" class="hover:text-secondary text-sm leading-tight transition-colors md:text-base">407-212-7092</a>
                </li>
                <li>
                  <a href="#" class="hover:text-secondary text-sm leading-tight transition-colors md:text-base">support@strategixhcs.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <img src="/images/bage.png" alt="#" class="size-23 sm:size-39" />
      </div>
      <div class="mt-10 flex justify-between gap-x-7 md:mt-15">
        <div>
          <a href="#" class="text-primary hover:text-secondary text-xs font-light transition-colors sm:text-sm">Privacy Policy</a>
        </div>
        <p class="text-xs sm:text-sm">© 2025 STRATEGIX Healthcare Solutions. Website by <a href="#">Curis Digital</a></p>
      </div>
    </div>
  </div>
</footer>
